html,
body {
  width: 100%;
}

.map svg {
  max-width: 100% !important;
  height: auto;
  display: block;
  height: 100vh;
  float: left;
}

.land:hover {
  fill: #21669e;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.land {
  fill: #ccc;
  cursor: pointer;
  stroke-width: 0.25px;
  stroke: #fff;
}

.description {
  pointer-events: none;
  position: absolute;
  font-size: 15px;
  text-align: center;
  background: white;
  padding: 5px 10px;
  z-index: 5;
  height: 30px;
  line-height: 30px;
  margin: 0 auto;
  color: #21669e;
  border-radius: 5px;
  box-shadow: 0 0 0 1px #eee;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  display: none;
}
.description.active {
  display: block;
}
.description:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  width: 0;
  height: 0;
  margin-left: -10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid white;
}

.map__description {
    position: relative;
    float: left;
    margin-left: 50px;
    margin-top: 50px;
    width: 30%;
}